{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
        {% assign author_src = author.avatar %}
      {% else %}
        {% assign author_src = author.avatar | relative_url %}
      {% endif %}

      {% if author.home %}
        {% if author.home contains "://" %}
          {% assign author_link = author.home %}
        {% else %}
          {% assign author_link = author.home | relative_url %}
        {% endif %}
        <a href="{{ author_link }}">
          <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    {% if author.home %}
      <a href="{{ author_link }}"><h3 class="author__name" itemprop="name">{{ author.name }}</h3></a>
    {% else %}
      <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% endif %}
    {% if author.bio %}
      <p class="author__bio" itemprop="description">
        {{ author.bio }}
      </p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}
          </a>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <meta itemprop="email" content="{{ author.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
          </a>
        </li>
      {% endif %}

      {% if author.keybase %}
        <li>
          <a href="https://keybase.io/{{ author.keybase }}" itemprop="sameAs">
            <i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
          </a>
        </li>
      {% endif %}

      {% if author.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
          </a>
        </li>
      {% endif %}

      {% if author.google_plus %}
        <li>
          <a href="https://plus.google.com/{{ author.google_plus }}" itemprop="sameAs">
            <i class="fab fa-fw fa-google-plus-square" aria-hidden="true"></i> Google+
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
          </a>
        </li>
      {% endif %}

      {% if author.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ author.xing }}" itemprop="sameAs">
            <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING
          </a>
        </li>
      {% endif %}

      {% if author.instagram %}
        <li>
          <a href="https://instagram.com/{{ author.instagram }}" itemprop="sameAs">
            <i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram
          </a>
        </li>
      {% endif %}

      {% if author.tumblr %}
        <li>
          <a href="https://{{ author.tumblr }}.tumblr.com" itemprop="sameAs">
            <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr
          </a>
        </li>
      {% endif %}

      {% if author.bitbucket %}
        <li>
          <a href="https://bitbucket.org/{{ author.bitbucket }}" itemprop="sameAs">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
          </a>
        </li>
      {% endif %}

      {% if author.gitlab %}
        <li>
          <a href="https://gitlab.com/{{ author.gitlab }}" itemprop="sameAs">
            <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> GitLab
          </a>
        </li>
      {% endif %}

      {% if author.stackoverflow %}
        <li>
          <a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs">
            <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stack Overflow
          </a>
        </li>
      {% endif %}

      {% if author.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ author.lastfm }}" itemprop="sameAs">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm
          </a>
        </li>
      {% endif %}

      {% if author.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ author.dribbble }}" itemprop="sameAs">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i> Dribbble
          </a>
        </li>
      {% endif %}

      {% if author.pinterest %}
        <li>
          <a href="https://www.pinterest.com/{{ author.pinterest }}" itemprop="sameAs">
            <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest
          </a>
        </li>
      {% endif %}

      {% if author.foursquare %}
        <li>
          <a href="https://foursquare.com/{{ author.foursquare }}" itemprop="sameAs">
            <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare
          </a>
        </li>
      {% endif %}

      {% if author.steam %}
        <li>
          <a href="https://steamcommunity.com/id/{{ author.steam }}" itemprop="sameAs">
            <i class="fab fa-fw fa-steam" aria-hidden="true"></i> Steam
          </a>
        </li>
      {% endif %}

      {% if author.youtube %}
        {% if author.youtube contains "://" %}
          <li>
            <a href="{{ author.youtube }}" itemprop="sameAs">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
            </a>
          </li>
        {% else author.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ author.youtube }}" itemprop="sameAs">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if author.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ author.soundcloud }}" itemprop="sameAs">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> SoundCloud
          </a>
        </li>
      {% endif %}

      {% if author.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ author.weibo }}" itemprop="sameAs">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo
          </a>
        </li>
      {% endif %}

      {% if author.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ author.flickr }}" itemprop="sameAs">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr
          </a>
        </li>
      {% endif %}

      {% if author.codepen %}
        <li>
          <a href="https://codepen.io/{{ author.codepen }}" itemprop="sameAs">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen
          </a>
        </li>
      {% endif %}

      {% if author.vine %}
        <li>
          <a href="https://vine.co/u/{{ author.vine }}" itemprop="sameAs">
            <i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine
          </a>
        </li>
      {% endif %}
      {% if author.googlescholar %}
        <li>
          <a href="https://scholar.google.com/{{ author.googlescholar }}" itemprop="sameAs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="6%" height="6%"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#1180d4" d="M390.9 298.5c0 0 0 .1 .1 .1c9.2 19.4 14.4 41.1 14.4 64C405.3 445.1 338.5 512 256 512s-149.3-66.9-149.3-149.3c0-22.9 5.2-44.6 14.4-64h0c1.7-3.6 3.6-7.2 5.6-10.7c4.4-7.6 9.4-14.7 15-21.3c27.4-32.6 68.5-53.3 114.4-53.3c33.6 0 64.6 11.1 89.6 29.9c9.1 6.9 17.4 14.7 24.8 23.5c5.6 6.6 10.6 13.8 15 21.3c2 3.4 3.8 7 5.5 10.5zm26.4-18.8c-30.1-58.4-91-98.4-161.3-98.4s-131.2 40-161.3 98.4L0 202.7 256 0 512 202.7l-94.7 77.1z"/></svg>Google Scholar
          </a>
        </li>
      {% endif %}
      {% if author.orchid %}
        <li>
          <a href="https://orcid.org/{{ author.orchid }}" itemprop="sameAs">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="6%" height="6%"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#67f04c" d="M294.8 188.2h-45.9V342h47.5c67.6 0 83.1-51.3 83.1-76.9 0-41.6-26.5-76.9-84.7-76.9zM256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-80.8 360.8h-29.8v-207.5h29.8zm-14.9-231.1a19.6 19.6 0 1 1 19.6-19.6 19.6 19.6 0 0 1 -19.6 19.6zM300 369h-81V161.3h80.6c76.7 0 110.4 54.8 110.4 103.9C410 318.4 368.4 369 300 369z"/></svg>
ORCID
          </a>
        </li>
      {% endif %}      
      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>  